.background{
    background-color: #A65B4B;
}
.title{
    color: #A65B4B;
}
.display-cards{
    flex-wrap: wrap;
    gap:1.2em
}
.btn-categories{
    background-color: #733B36;
    color:white;
}
.dropdown-categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media(max-width: 660px){
    .dropdown-categories{
        display:none;
        }
    }
@media(min-width: 660px){
    .dropdown{
        display:none;
        }
    }
