.img-fondo{
    width: 100%;
    height: 36em;
    background-color: yellowgreen;
    background-image: url("../../Images/pexels-hector-perez-1148818-5606491.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    padding-bottom: 5%;
}
.title-yellow{
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 4em;
    color: white;
}
@media(max-width: 550px){
    .title-yellow{
        font-size: 3em;
        }
    }
.btn-home{
    background-color: rgba(255, 255, 255, 0.85);
    border-color:#733B36; 
    color:#733B36;
    padding-left: 5em;
    padding-right: 5em;

}
.btn-home:hover{
    background-color: #F2CBBD;
    color:#733B36;
}
.p-yellow{
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 2em;
    color: #F4B743;
    text-align: center;
}
.section-entregas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media(max-width:600px){
    .section-entregas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .p-yellow{
        font-family: "Playfair Display", serif;
        font-weight: 600;
        font-size: 1em;
    }

}