.bg-brown{
    background-color: #A65B4B;
}
.nav-item.nav-list{
    list-style: none;
}
.react-link{
    list-style: none;
    text-decoration: none;
}
.nav-link.w-text-title{
    text-decoration: none;
}
.nav-link.w-text-title:active{
    list-style: none;
    color:white;
    text-decoration: none;
}
.w-text-title{
    font-size: 2em;
    color: #F2CBBD;
}
.w-text-title:hover{
    color:white;
}
.w-text{
    font-size: 1em;
    color: #F2CBBD;
}
.w-text:hover{
    color:white;
}
