.footer{
    background-color: #733B36;
}
.f-text-title-h2{
    font-size: 2.5em;
    color: #F2CBBD;
}
.f-text-title{
    font-size: 2em;
    color: #F2CBBD;
}
.form-control{
    background-color: white;
    width: 24em;
    margin-right: 2em;
}
.f-text-title{
    font-size: 1.4em;
    color: #F2CBBD;
}
.f-text{
    font-size: 1em;
    color: #F2CBBD;
}
.f-link{
    font-size: 1em;
    color: #F2CBBD;
}
.f-link:hover{
    color:white;
}
.form-suscribe{
    display: flex;
    flex-direction: column;
}
.section-suscribe{
    display:none;
}
@media(max-width:1300px){
    .div-footer{
        flex-wrap: wrap;
    }
}
@media(min-width:1200px){
    .form-suscribe{
        flex-direction: row;
    }
}
@media(min-width:550px){
    .section-suscribe{
        display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}