.bg-brown{
    background-color: #A65B4B;
    margin-bottom: 10%;
}
.w-text-title{
    font-size: 2em;
    color: #F2CBBD;
}
.admin-panel{
    margin-top: 2%;
}
.btn-edit{
    background-color: white;
    color: #A65B4B;
}
.btn-edit:hover{
    color: white;
}
.btn-edit:checked{
    color:white;
}
.w-title{
    color: white;
    font-size: 2em;
    text-decoration: none;
}
.div-footer{
    background-color: #733B36;
    width: 100%;
}
.f-text{
    font-size: 1em;
    color: #F2CBBD;
}