.btn-card{
    background-color:#A65B4B;
    font-size: 1.2em;
    color: #F2CBBD;
}
.btn-card:hover{
    background-color: #BF785E;
    color: white;
}
.react-link{
    list-style: none;
    text-decoration: none;
    color:#F2CBBD
}
.react-link:active{
    color:white
}
.react-link:hover{
    color:white
}